<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Kebab Cloud</title>
</head>
<body>
<h1>Przygotuj własnego kebaba!</h1>
<img th:src="@{images/KebabCloud.png}">

<form method="POST" th:object="${kebab}">

       <span class="validationError"
             th:if="${#fields.hasErrors('ingredients')}"
             th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">

        <div class="integrient-group" id="kind">
            <h3>Wybierz rodzaj kebaba:</h3>
            <div th:each="ingredient : ${kind}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Składnik</span><br/>
            </div>
        </div>

        <div class="integrient-group" id="protein">
            <h3>Wybierz rodzaj mięsa:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Składnik</span><br/>
            </div>
        </div>

        <div class="integrient-group" id="veggies">
            <h3>Wybierz warzywa:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Składnik</span><br/>
            </div>
        </div>

        <div class="integrient-group" id="chips">
            <h3>Wybierz rodzaj frytek:</h3>
            <div th:each="ingredient : ${chips}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Składnik</span><br/>
            </div>
        </div>

        <div class="integrient-group" id="sauce">
            <h3>Wybierz sosy:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Składnik</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Nadaj nazwę przygotowanemu kebabowi:</h3>
        <input type="text" th:field="*{name}">
        <span class="validatorError"
              th:if="${#fields.hasErrors('name')}"
              th:error="*{name}">Nazwa powinna się składać z co najmniej 5 znaków</span>
        <br/>
        <button>Wyślij swoje zamówienie</button>

    </div>

</form>
</body>
</html>